<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Akka" version="1.0.9.218-beta" targetFramework="net45" />
  <package id="Akka.Streams" version="1.0.9.218-beta" targetFramework="net45" />
  <package id="Autofac" version="3.5.2" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="Reactive.Streams" version="1.0.1" targetFramework="net45" />
  <package id="System.Collections" version="4.0.0" targetFramework="net45" />
  <package id="System.Collections.Immutable" version="1.1.36" targetFramework="net45" />
  <package id="System.Diagnostics.Debug" version="4.0.0" targetFramework="net45" />
  <package id="System.Globalization" version="4.0.0" targetFramework="net45" />
  <package id="System.Linq" version="4.0.0" targetFramework="net45" />
  <package id="System.Resources.ResourceManager" version="4.0.0" targetFramework="net45" />
  <package id="System.Runtime" version="4.0.0" targetFramework="net45" />
  <package id="System.Runtime.Extensions" version="4.0.0" targetFramework="net45" />
  <package id="System.Threading" version="4.0.0" targetFramework="net45" />
  <package id="TweetinviAPI" version="0.9.12.2" targetFramework="net45" />
</packages>